<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumIndex.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- header -->
	<%-include('../index/header.ejs')%>
	<!-- contain -->
	<div class="container" style="margin-top: 220px;">
		<section class="banner row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bannerImg noPadding">
				<a class="row bannerLink" href="/forumMain?id=<%=forumRemInfoData[0].postId%>">
					<img src="<%=forumRemInfoData[0].postImg%>" alt="">
					<a class="bannerDes" href="/forumMain?id=<%=forumRemInfoData[0].postId%>"><%=forumRemInfoData[0].postDes%></a>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="posted">
					<p><i class="iconfont">&#xe604;</i><span>100</span>篇养殖攻略</p>
					<p><i class="iconfont">&#xe62a;</i><span>1000</span>篇帖子</p>
					<p><i class="iconfont">&#xe63c;</i><span>2000</span>位萌友</p>
					<a href="/forumMain" role="button" class="btn postedBtn">发布帖子</a>
				</div>
			</div>
		</section>
		<section class="postContent">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding">
				<ul id="postContAll">
					<%for(var i=0;i<fy;i++) {%>
					<li class="postCont">
						<div class="psC">
							<div class="psText">
								<h4>
									<a class="moveLeft postTitle" href="/forumMain?id=<%=forumIndexData[i].postId%>"><%=forumIndexData[i].postTitle%></a>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPadding">
										<a class="postLink" href="/forumMain?id=<%=forumIndexData[i].postId%>">
											<img class="postImg" src="<%=forumIndexData[i].postImg%>" alt="">
										</a>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding postText">
										<a href="/forumMain?id=<%=forumIndexData[i].postId%>" class="postContent"><%=forumIndexData[i].postContent%></a>
									</div>
								</div>
							</div>
							<div class="row postBottom">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<span><i class="iconfont">&#xe64c;</i><span class="postTime"><%=forumIndexData[i].postTime%></span></span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
									<span><i class="iconfont">&#xe61a;</i>10</span>
									<span><i class="iconfont">&#xe63b;</i><span class="postLike"><%=forumIndexData[i].postLike%></span></span>
								</div>
							</div>
						</div>
					</li>
					<%}%>
				</ul>
				<div class="fmPaging">
					<a role="button" onclick="prevPage()">上一页</a>
					<a href="#" class="currentA" id="currentPage">1</a>
					<a role="button" onclick="nextPage()">下一页</a>
					<span>共<span id="totalPage"><%=fyNum%></span>页</span>
					<span>到第</span>
					<input type="text"/>
					<span>页</span>
					<a href="#" role="button" class="btn">确认</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="hot search">
					<input type="text" placeholder="搜索">
				</div>
				<div class="hot recommed">
					<p class="hotTitle">推荐文章</p>
					<ul>
						<li>
							<span class="mc">0<span class="fontW first">1</span></span>
							<a href="/forumMain?id=<%=forumRemInfoData[0].postId%>" class="moveLeft"><%=forumRemInfoData[0].postTitle%></a>
						</li>
						<li>
							<span class="mc">0<span class="fontW">2</span></span>
							<a href="/forumMain?id=<%=forumRemInfoData[1].postId%>" class="moveLeft"><%=forumRemInfoData[1].postTitle%></a>
						</li>
						<li>
							<span class="mc">0<span class="fontW">3</span></span>
							<a href="/forumMain?id=<%=forumRemInfoData[2].postId%>" class="moveLeft"><%=forumRemInfoData[2].postTitle%></a>
						</li>
						<li>
							<span class="mc">04</span>
							<a href="/forumMain?id=<%=forumRemInfoData[3].postId%>" class="moveLeft"><%=forumRemInfoData[3].postTitle%></a>
						</li>
						<li>
							<span class="mc">05</span>
							<a href="/forumMain?id=<%=forumRemInfoData[4].postId%>" class="moveLeft"><%=forumRemInfoData[4].postTitle%></a>
						</li>
						<li>
							<span class="mc">06</span>
							<a href="/forumMain?id=<%=forumRemInfoData[5].postId%>" class="moveLeft"><%=forumRemInfoData[5].postTitle%></a>
						</li>
						<li>
							<span class="mc">07</span>
							<a href="/forumMain?id=<%=forumRemInfoData[6].postId%>" class="moveLeft"><%=forumRemInfoData[6].postTitle%></a>
						</li>
						<li>
							<span class="mc">08</span>
							<a href="/forumMain?id=<%=forumRemInfoData[7].postId%>" class="moveLeft"><%=forumRemInfoData[7].postTitle%></a>
						</li>
						<li>
							<span class="mc">09</span>
							<a href="/forumMain?id=<%=forumRemInfoData[8].postId%>" class="moveLeft"><%=forumRemInfoData[8].postTitle%></a>
						</li>
					</ul>
				</div>
				<div class="hot recommed">
					<p class="hotTitle">图文并茂</p>
					<ul>
						<%for(var i=0;i<3;i++) {%>
						<li class="tw">
							<a class="imgLink">
								<img href="/forumMain?id=<%=forumRemInfoData[i].postId%>" src="<%=forumRemInfoData[i].postImg%>" alt="">
							</a>
							<a class="overTitle" href="/forumMain?id=<%=forumRemInfoData[i].postId%>"><%=forumRemInfoData[i].postTitle%></a>
						</li>
						<%}%>
					</ul>
				</div>
				<div class="hot hotClick">
					<p class="hotTitle">热门点击</p>
					<ul>
						<%for(var i=0;i<9;i++){%>
						<li>
							<span class="mc">
								【
								<a href="/forumMain?id=<%=forumRemInfoData[i].postId%>"><%=forumRemInfoData[i].categoryName%></a>
								】
							</span>
							<a class="overTitle" href="/forumMain?id=<%=forumRemInfoData[i].postId%>"><%=forumRemInfoData[i].postTitle%></a>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
		</section>
	</div>

	<div id="top">TOP</div>
	<!-- footer -->
	<%-include('../index/footer.ejs')%>
	<script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
		var currentPage = 1;
		$(function() {
			$("#top").click(function() {
				$("html").animate({
					scrollTop:0
				},1000);
			});
			fyAjax(currentPage);
		});
		//下一页
		function nextPage() {
			if(currentPage>=$("#totalPage").html()) {
				currentPage = 1;
			}else {
				currentPage++;
			}
			fyAjax(currentPage);
		}
//		//上一页
		function prevPage() {
			if(currentPage<=0) {
				currentPage = 1;
			}else {
				currentPage--;
			}
			fyAjax(currentPage);
		}
		function fyAjax(currentPage) {
			$.ajax({
				type:"get",
				url:"/forumIndex",
				data:{
					currentPage:currentPage
				},
				success:function(data) {
					$("#currentPage").html(currentPage);
				}
			});
		}
	</script>
</body>
</html>