<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>论坛个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumSelf.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../index/header.ejs')%>
<!--<div class="navHidden"></div>-->
<section class="content" style="margin-top: 220px;">
    <div class="row selfBg">
        <div class="selfBgBlack">
            <div class="col-xs-6 selfNav">
                <div class="col-xs-5">
                    <p>等级</p>
                    <span><%=selfGrade[0].user_gradeCat%></span>
                </div>
                <div class="col-xs-5">
                    <p>发帖量</p>
                    <span><%=selfNum.length%></span>
                </div>
            </div>
            <div class="col-xs-6  selfNav">
                <div class="col-xs-5 col-md-offset-2">
                    <p>关注</p>
                    <span>0</span>
                </div>
                <div class="col-xs-5">
                    <p>粉丝</p>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <div class="touxiangT"></div>
    </div>
    <div class="touxiangDw"></div>
    <p class="juzhong font-weight"><%=selfGrade[0].name%></p>
    <p class="juzhong font-size12"><a href="#">编辑</a></p>
    <p class="juzhong font-size12 colorb4"><%=selfGrade[0].User_show%></p>
    <div class="row selfOptionBox">
        <div class="col-xs-2 col-xs-offset-2 selfCurrent">帖子</div>
        <div class="col-xs-2">互动</div>
        <div class="col-xs-2">提醒</div>
        <div class="col-xs-2">照片</div>
    </div>
    <div class="optionDiv">
        <div class="optionContent disPlay">
            <%if (selfNum.length==0) {%>
                <div class="optionContentImg">
                    建立自己的作品<br>
                    先从 <a href="#">发帖</a> 开始哦~
                </div>
            <%}else {%>
                <%for (var i=0;i<selfNum.length;i++){%>
            <!--事件时间轴-->
            <div class="flowChart">
                <!--左侧轴-->
                <div class="flowChart-left">
                    <!--虚线-->
                    <div class="dashed"></div>
                </div>
                <!--右侧内容-->
                <div class="flowChart-right">
                    <!--一个节点-->
                    <div class="oneNode">
                        <!--左侧小球-->
                        <div class="check check-danger">
                            <%=selfNum[i].postTime.getMonth()+1%>月<%=selfNum[i].postTime.getDate()%>日
                        </div>
                        <div class="tag-boder">
                            <div class="tag">
                            </div>
                        </div>
                        <!--右侧内容-->
                        <div class="NodeDetail">
                            <!--上-->
                                <!--内容-->
                                <div class="deleteKey">
                                    <span data-toggle='modal' data-target='#myModal'>删除</span>
                                </div>
                            <!--中-->
                            <div class="NodeDetail-content">
                                <p class="zhi"><%=selfNum[i].postId%></p>
                                <h3><%=selfNum[i].postTitle%></h3>
                                <p><%=selfNum[i].postContent%></p>
                            </div>
                            <!--下-->
                            <div class="NodeDetail-footer">
                                <%=selfNum[i].postTime.getFullYear()%>-<%=selfNum[i].postTime.getMonth()+1%>-<%=selfNum[i].postTime.getDate()%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 删除按钮的模态框 -->
            <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                删除此条公告
                            </h4>
                        </div>
                        <div class="modal-body">
                            确定要删除吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success my_btn" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-success my_btn2 deleteNotice" id="btn_que" data-dismiss="modal">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
                <%}%>
            <%}%>
        </div>
        <div class="optionContent">
            <div class="optionContentImg">
                去评论更多帖子<br>
                点击 <a href="#">浏览</a> 去看看帖子~
            </div>
        </div>
        <div class="optionContent">
            <div class="optionContentImg">
                上传照片<br>
                点击 <a href="#">上传</a> 开始哦~
            </div>
        </div>
        <div class="optionContent">
            <div class="optionContentImg">

            </div>
        </div>
    </div>

</section>
<%-include('../index/footer.ejs')%>
<script src="../js/jquery-3.3.1.js"></script>
<script src="../js/bootstrap.js"></script>
<script>
    var zhi;
    $(".selfOptionBox div").click(function (){
        $(this).addClass("selfCurrent").siblings().removeClass("selfCurrent");
        var i=$(this).index();
        $(".optionContent").eq(i).addClass("disPlay").siblings().removeClass("disPlay");
    })
    $(".deleteKey").click(function () {

        zhi=$(this).parent().find("p").html();
    })
    $("#btn_que").click(function () {
        $.ajax({
            url:"xrz",
            type:"get",
            data:{
                zhi:zhi
            },
            success:function () {
                
            }
        })
    })

</script>
</body>
</html>