<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>论坛个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumSelf.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../index/header.ejs')%>
<!--<div class="navHidden"></div>-->
<section class="content" style="margin-top: 220px;">
    <div class="row selfBg">
        <div class="selfBgBlack">
            <div class="col-xs-6 selfNav">
                <div class="col-xs-5">
                    <p>等级</p>
                    <span><%=selfGrade[0].user_gradeCat%></span>
                </div>
                <div class="col-xs-5">
                    <p>发帖量</p>
                    <span>2</span>
                </div>
            </div>
            <div class="col-xs-6  selfNav">
                <div class="col-xs-5 col-md-offset-2">
                    <p>关注</p>
                    <span>13</span>
                </div>
                <div class="col-xs-5">
                    <p>粉丝</p>
                    <span>2</span>
                </div>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <div class="touxiangT"></div>
    </div>
    <div class="touxiangDw"></div>
    <p class="juzhong font-weight"><%=selfGrade[0].name%></p>
    <p class="juzhong font-size12"><a href="#">编辑</a></p>
    <p class="juzhong font-size12 colorb4"><%=selfGrade[0].User_show%></p>
    <div class="row selfOptionBox">
        <div class="col-xs-2 col-xs-offset-2 selfCurrent">帖子</div>
        <div class="col-xs-2">互动</div>
        <div class="col-xs-2">提醒</div>
        <div class="col-xs-2">照片</div>
    </div>
    <div class="optionDiv">
        <div class="optionContent disPlay">
            <div class="optionContentImg">
                建立自己的作品<br>
                先从 <a href="#">发帖</a> 开始哦~
            </div>
        </div>
        <div class="optionContent">
            <div class="optionContentImg">
                去评论更多帖子<br>
                点击 <a href="#">浏览</a> 去看看帖子~
            </div>
        </div>
        <div class="optionContent">
            <div class="optionContentImg">
                上传照片<br>
                点击 <a href="#">上传</a> 开始哦~
            </div>
        </div>
        <div class="optionContent">
            <div class="optionContentImg">

            </div>
        </div>
    </div>

</section>
<%-include('../index/footer.ejs')%>
<script>
    $(".selfOptionBox div").click(function (){
        $(this).addClass("selfCurrent").siblings().removeClass("selfCurrent");
        var i=$(this).index();
        console.log(i)
        $(".optionContent").eq(i).addClass("disPlay").siblings().removeClass("disPlay");
    })

</script>
</body>
</html>