<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/self.css"/>
    <link rel="stylesheet" href="css/modelCss.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../index/header.ejs')%>
<section style="margin-top: 220px;">
    <div class="container self">
        <div class="row">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 selfSet">
                <ul>
                    <li>
                        <h4>账号管理</h4>
                    </li>
                    <li id="selfC">
                        <a href="/self">个人中心</a>
                    </li>
                    <li id="info">
                        <a href="/selfE">账号信息</a>
                    </li>
                    <li class="current" id="address">
                        <a href="/address">地址管理</a>
                    </li>
                    <li id="collect">
                        <a href="/collect">我的收藏</a>
                    </li>
                    <li>
                        <h4>交易管理</h4>
                    </li>
                    <li id="orderG">
                        <a href="/orderG">订单管理</a>
                    </li>
                    <li id="coupons">
                        <a href="/coupons">优惠券</a>
                    </li>
                    <li>
                        <h4>服务中心</h4>
                    </li>
                    <li id="afterSale">
                        <a href="/afterSale">售后记录</a>
                    </li>
                    <li id="help">
                        <a href="/help">帮助中心</a>
                    </li>
                </ul>
            </aside>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="selfContEdit">
                <div class="addressEdit">
                    <div class="addressT">
                        <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10">已保存收货地址(地址最多10条，还能保存9条)</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                            <a role="button" class="btn newAddress updata">+新建地址</a>
                        </div>
                    </div>
                    <div class="addressCont">
                        <div class="addressCT row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">收货人</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">地址</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">联系方式</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">操作</div>
                        </div>
                        <div class="addressC">
                            <%for(var i=0;i<addressData.length;i++) {%>
                            <div class="addressCList row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                    <span hidden class="zipCode"><%=addressData[i].zip_code%></span>
                                    <span class="addressId"><%=addressData[i].addressId%></span>
                                    <span class="consigneeHQ"><%=addressData[i].consignee%></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center ship_addressHQ"><%=addressData[i].ship_address%></div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center phoneHQ"><%=addressData[i].phone%></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                                    <a class="editAddress updata">编辑</a>
                                    <a class="delAddress updata">删除</a>
                                    <a href="#" role="button" class="btn">默认地址</a>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="addressPop">
    <div class="addressPC row">
        <div class="closeBtn">×</div>
        <div class="addressPTitle"></div>

        <div class="delPC popContent" style="display: none">
            <div class="delPCont">是否要删除这条地址？</div>
            <div class="btnDiv">
                <a class="btn yesBtn">确定</a>
                <a class="btn noBtn">取消</a>
            </div>
        </div>
        <div class="popContent apPC">
            <div class="row">
                <div class="col-lg-2 text-center">所在地区:</div>
                <div class="col-lg-10 text-center">
                    <div class="col-lg-4">
                        <select name="" id="">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <select name="" id="">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <select name="" id="">
                            <option value="">请选择区</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">详细地址:</div>
                <div class="col-lg-10">
                    <textarea name="" class="detailAddress"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">收货人:</div>
                <div class="col-lg-10">
                    <input type="text" class="consignee"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">邮编号码:</div>
                <div class="col-lg-4 desInfo">
                    <input type="text" class="zip_code"/>
                </div>
                <div class="col-lg-2 text-right">手机号码:</div>
                <div class="col-lg-4 text-right desInfo">
                    <input type="text" class="tel"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <div class="col-lg-4">
                        <input type="checkbox" class="isDefault"/>设为默认地址
                    </div>
                    <div class="col-lg-8 btnDiv text-right">
                        <a class="btn yesBtn">确定</a>
                        <a class="btn noBtn">取消</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<%-include('../index/footer.ejs')%>

<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/self.js"></script>
<script src="js/buy/distpicker.data.js"></script>
<script src="js/buy/distpicker.js"></script>
<script src="js/buy/main.js"></script>

<script>
    $(".updata").click(function() {
        $(".addressPop").css("display","block");
        $(".popContent").css("display","none");
        if($(this)[0].className.indexOf("del")>=0) {
            $(".delPC").css("display","block");
            $(".addressPTitle").html("删除地址");
            var hqList = $(this).parent().parent()[0];
            $(".yesBtn").addClass("delBtn");
            $(".delBtn").click(function() {
                var addressId = $(hqList).children().children(".addressId").html();
                hqList.remove();
                $(".addressPop").css("display","none");
                console.log(addressId);
                $.ajax({
                    url:"/delAddress",
                    data:{
                        addressId:addressId
                    },
                    success:function(data) {

                    }
                })
            })
        }else {
            $(".apPC").css("display","block");
            if($(this)[0].className.indexOf("edit")>=0) {
                $(".addressPTitle").html("编辑地址");
                $(".yesBtn").addClass("editBtn");
                var hqList = $(this).parent().parent()[0];
                var addressId = $(hqList).children().children(".addressId").html();
                var zipCode = $(hqList).children().children(".zipCode").html();
                var consigneeHQ = $(hqList).children().children(".consigneeHQ").html();
                var ship_addressHQ = $(hqList).children(".ship_addressHQ").html();
                var phoneHQ = $(hqList).children(".phoneHQ").html();
                $(".consignee")[0].value = consigneeHQ;
                $(".tel")[0].value = phoneHQ;
                $(".detailAddress")[0].value = ship_addressHQ;
                $(".zip_code")[0].value = zipCode;
                $(".editBtn").click(function() {
                    var isDefault;
                    if($(".isDefault").attr("checked")) {
                        isDefault = 1;
                    }else {
                        isDefault = 0;
                    }
                    $(".addressPop").css("display","none");
                    $.ajax({
                        url:"/editAddress",
                        data:{
                            addressId:addressId,
                            consignee:$(".consignee").val(),
                            tel:$(".tel").val(),
                            detailAddress:$(".detailAddress").val(),
                            zip_code:$(".zip_code").val(),
                            isDefault:isDefault
                        },
                        success:function(data) {
                            location.reload();
                        }
                    })
                });
            }else {
                $(".yesBtn").addClass("newBtn");
                $(".addressPTitle").html("新建地址");
                $(".consignee")[0].value = "";
                $(".tel")[0].value = "";
                $(".detailAddress")[0].value = "";
                $(".zip_code")[0].value = "";
                $(".newBtn").click(function() {
                    var isDefault;
                    if($(".zip_code").val()=="") {
                        $(".zip_code")[0].value = "000000";
                    }
                    if($(".isDefault").attr("checked")) {
                        isDefault = 1;
                    }else {
                        isDefault = 0;
                    }
                    var date = new Date();
                    var createTime = date.getFullYear() + "-" + (date.getMonth()<10?("0" + date.getMonth()):date.getMonth())
                            + "-" + (date.getDate()<10?("0" + date.getDate()):date.getDate()) + " " + (date.getHours()<10?("0" + date.getHours()):date.getHours()) + ":"
                            + (date.getMinutes()<10?("0" + date.getMinutes()):date.getMinutes()) + ":" + (date.getSeconds()<10?("0" + date.getSeconds()):date.getSeconds());
                    $(".addressPop").css("display","none");
                    $.ajax({
                        url:"/newAddress",
                        data:{
                            consignee:$(".consignee").val(),
                            tel:$(".tel").val(),
                            detailAddress:$(".detailAddress").val(),
                            zip_code:$(".zip_code").val(),
                            isDefault:isDefault,
                            createTime:createTime
                        },
                        success:function(data) {
                            location.reload();
                        }
                    })
                });
            }
        }
    });
    $(".isDefault").change(function() {
        if($(this).is(":checked")) {
            $(this).attr("checked","checked");
        }else {
            $(this).removeAttr("checked");
        }
    })
    $(".closeBtn").click(function() {
        $(".addressPop").css("display","none");
    });
    $(".noBtn").click(function() {
        $(".addressPop").css("display","none");
    });
</script>

</body>
</html>