<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/self.css"/>
    <link rel="stylesheet" href="css/help.css"/>
    <link rel="stylesheet" href="css/modelCss.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <%-include('../mateheader.ejs')%>
</header>
<section>
    <div class="container self">
        <div class="row">
            <aside class="col-lg-2 selfSet">
                <ul>
                    <li>
                        <h4>帮助中心</h4>
                    </li>
                    <li class="current" id="problem" onclick="help(0)">
                        <a href="#">常见问题</a>
                    </li>
                    <li id="purchase" onclick="help(1)">
                        <a href="#">配送相关</a>
                    </li>
                    <li id="Refundable" onclick="help(2)">
                        <a href="#">退换货相关</a>
                    </li>
                    <li id="service" onclick="help(3)">
                        <a href="#">服务细则</a>
                    </li>
                    <li id="Pricing_rules" onclick="help(4)">
                        <a href="#">保价规则</a>
                    </li>
                    <li id="cooperation" onclick="help(5)">
                        <a href="#">合作方式</a>
                    </li>
                </ul>
            </aside>
            <div class="col-lg-10" id="selfContEdit">
                <div>
                    <%-include('problem.ejs')%>
                </div>
                <div>
                    <%-include('purchase.ejs')%>
                </div>
                <div>
                    <%-include('Refundable.ejs')%>
                </div>
                <div>
                    <%-include('service.ejs')%>
                </div>
                <div>
                    <%-include('Pricing_rules.ejs')%>
                </div>
                <div>
                    <%-include('cooperation.ejs')%>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include('../matefooter.ejs')%>



<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/self.js"></script>
<script src="js/buy/distpicker.data.js"></script>
<script src="js/buy/distpicker.js"></script>
<script src="js/buy/main.js"></script>
<script>
    function help(a) {
        $(".selfSet li").removeClass("current");
        $(".selfSet li").eq(a+1).addClass("current");
        $("#selfContEdit div").css({
            "display":"none"
        })
        $("#selfContEdit div").eq(a).css({
            "display":"block"
        })
    }

</script>
</body>
</html