<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/self.css"/>
    <link rel="stylesheet" href="css/modelCss.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../index/header.ejs')%>
<section style="margin-top: 220px;">
    <div class="container self">
        <div class="row">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 selfSet">
                <ul>
                    <li>
                        <h4>账号管理</h4>
                    </li>
                    <li id="selfC">
                        <a href="/self">个人中心</a>
                    </li>
                    <li id="info">
                        <a href="/selfE">账号信息</a>
                    </li>
                    <li id="address">
                        <a href="/address">地址管理</a>
                    </li>
                    <li id="collect">
                        <a href="/collect">我的收藏</a>
                    </li>
                    <li>
                        <h4>交易管理</h4>
                    </li>
                    <li class="current" id="orderG">
                        <a href="/orderG">订单管理</a>
                    </li>
                    <li id="coupons">
                        <a href="/coupons">优惠券</a>
                    </li>
                    <li>
                        <h4>服务中心</h4>
                    </li>
                    <li id="afterSale">
                        <a href="/afterSale">售后记录</a>
                    </li>
                    <li id="help">
                        <a href="/help">帮助中心</a>
                    </li>
                </ul>
            </aside>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="selfContEdit">
                <div class="orderGSelf">
                    <div class="row search">
                        <input type="text" placeholder="请输入商品名称和订单号"/>
                        <button class="btn save">搜索</button>
                    </div>
                    <div class="row esTitle">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 currentList" id="allOreder">全部订单</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="wating">待付款</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="fh">待发货</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="sh">待收货</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="yp">已评价</div>
                    </div>
                    <div class="row esCont">
                        <div class="orderX">
                            <div class="row orderXT">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">订单号：<%=orderData[0].orderNo%></div>
                                <div class="time col-lg-9 col-md-9 col-sm-9 col-xs-9">下单时间：<%=orderData[0].createTime%></div>
                            </div>
                            <div class="orderXC row">
                                <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 orderXCont">
                                        <div>
                                            收件人：<span class="consigneeInfo"></span>
                                        </div>
                                        <div>
                                            联系方式：<span class="phoneInfo"></span>
                                        </div>
                                        <div>
                                            收货地址：<span class="ship_addressInfo"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 orderXCont">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">商品合计：</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sText totalInfo"></div>
                                        </div>
                                        <div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">运费：</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sText yhPriceInfo"></div>
                                        </div>
                                        <div class="cul">
                                        </div>
                                        <div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">应付：</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rText totalPriceInfo"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%for(var i=0;i<orderData.length;i++) {console.log(orderData[i])%>
                        <div class="backlog">
                            <div class="row blTitle">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="checkbox"/>
                                    下单时间：<span class="time"><%=orderData[i].createTime%></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    订单号：<span class="orderNo"><%=orderData[i].orderNo%></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                    <a href="">查看全部订单</a>
                                </div>
                            </div>
                            <div class="row product">
                                <span hidden class="consignee"><%=orderData[i].consignee%></span>
                                <span hidden class="phone"><%=orderData[i].phone%></span>
                                <span hidden class="ship_address"><%=orderData[i].ship_address%></span>
                                <span hidden class="yhPrice">￥<%=orderData[i].yhPrice%></span>
                                <span hidden class="total">￥<%=orderData[i].total%></span>
                                <span hidden class="totalPrice">￥<%=orderData[i].total+orderData[i].yhPrice%></span>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" >
                                        <a href=""><img src="<%=orderData[i].goodsImg%>" alt=""/></a>
                                    </div>
                                    <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 decrise"><%=orderData[0].goods_desc%></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <%if(orderData[i].orderStatus == 1) {%>
                                        待发货
                                    <%}else if(orderData[i].orderStatus == 2) {%>
                                        待收货
                                    <%}else if(orderData[i].orderStatus == 3){%>
                                        确定收货
                                    <%}%>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">￥<%=orderData[i].o_price%></div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" id="op">
                                    <div>
                                        <a href="" role="button" disabled class="btn confProduct">确认收货</a>
                                    </div>
                                    <div>
                                        <a class="viewDes">查看详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>

                    <div class="row text-right">
                        <button class="btn save delBtn" disabled>删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('../index/footer.ejs')%>


<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/self.js"></script>
<script src="js/buy/distpicker.data.js"></script>
<script src="js/buy/distpicker.js"></script>
<script src="js/buy/main.js"></script>
<script>
    $(".viewDes").click(function() {
        var consignee = $(this).parent().parent().parent().children(".consignee").html();
        var phone = $(this).parent().parent().parent().children(".phone").html();
        var ship_address = $(this).parent().parent().parent().children(".ship_address").html();
        var yhPrice = $(this).parent().parent().parent().children(".yhPrice").html();
        var total = $(this).parent().parent().parent().children(".total").html();
        var totalPrice = $(this).parent().parent().parent().children(".totalPrice").html();
        $(".consigneeInfo").html(consignee);
        $(".phoneInfo").html(phone);
        $(".ship_addressInfo").html(ship_address);
        $(".yhPriceInfo").html(yhPrice);
        $(".totalInfo").html(total);
        $(".totalPriceInfo").html(totalPrice);
        $(".orderX").css("display","block");
    });
    var date = new Date($(".time").html());
    var time = date.getFullYear() + "-" + (date.getMonth()<10?("0" + date.getMonth()):date.getMonth())
            + "-" + (date.getDate()<10?("0" + date.getDate()):date.getDate()) + " " + (date.getHours()<10?("0" + date.getHours()):date.getHours()) + ":"
            + (date.getMinutes()<10?("0" + date.getMinutes()):date.getMinutes()) + ":" + (date.getSeconds()<10?("0" + date.getSeconds()):date.getSeconds());
    $(".time").html(time);

    $("input[type='checkbox']").change(function() {
        if($(this).is(":checked")) {
            $(this).attr("checked","checked");
        }else {
            $(this).removeAttr("checked");
        }
    });
    setInterval(function() {
        if($("input[type='checkbox']:checked").length>0) {
            $(".delBtn").removeAttr("disabled");
        }else {
            $(".delBtn").attr("disabled","disabled");
        }
    },100);
    var newArray,orderNo;
    $(".delBtn").click(function() {
        newArray = [];
        orderNo = [];
        for(var i=0;i<$("input[type='checkbox']").length;i++) {
            if($($("input[type='checkbox']")[i]).attr("checked")) {
                newArray.push($("input[type='checkbox']")[i]);
            }
        }
        for(let i=0;i<newArray.length;i++) {
            orderNo.push($(newArray[i]).parent().parent().children().children(".orderNo").html());
        }
        $.ajax({
            url:"/delOrder",
            data:{
                orderNo:orderNo
            },
            success:function(data) {

            }
        })
    })
</script>

</body>
</html>