<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/goods/goods.css" rel="stylesheet">
    <link href="css/goods/goods_details.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include ../index/header.ejs%>
<section>
    <div class="container-fluid mycontent2">
        <div class="row">
            <div class="col-xs-12 goodsHeader">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <span>首页</span>
                        <span>/</span>
                        <span>所有商品</span>
                        <span>/</span>
                        <span><%=goodsdetails[0].goodsName%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mycontent" id="detaComm">
        <div class="row">
            <div class="col-xs-9">
                <div class="col-xs-5">
                    <div class="goodsDecImg">
                        <img src="<%=goodsdetails[0].goodsImg%>" class="img-responsive" id="decimg">
                    </div>
                    <div class="goodsDecImg2">
                        <img src="<%=goodsdetails[0].goodsImg%>" class="img-responsive">
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="goodsIntr">
                        <h1 id="decname"><%=goodsdetails[0].goodsName%></h1>
                        <div class="goodsLine pull-left"></div>
                        <h2>¥<span id="goodsPrice"><%=goodsdetails[0].goodsPrice%></span></h2>
                        <div class="goodsNum">
                            <span>商品编号： <span><%=goodsdetails[0].goodsSn%></span></span>
                        </div>
                        <div class="goodsClass">
                            <span>分类：<span class="allgoodsSpan"><%=goodsdetails[0].cateName%></span></span>
                        </div>
                        <%if(myuid==null){%>
                        <a href="/login">
                            <button type="button" class="btn my_btn pull-left" id="nullshop">加入购物车</button>
                        </a>
                        <%} else {%>
                        <a href="/addcart">
                            <button type="button" class="btn my_btn pull-left" id="addShop">加入购物车</button>
                        </a>
                        <%}%>
                        <div class="pull-left myinput">
                            <span class="pull-left" id="numRedu"></span>
                            <input type="number" value="1" class="pull-left" id="numValue">
                            <span class="pull-left" id="numadd"></span>
                        </div>
                    </div>
                </div>
                <!--商品详情/用户评论-->
                <div class="col-xs-12">
                    <div class="userComments">
                        <span class="commActive">商品详情</span>
                        <span class="commUnactive">用户评论</span>
                    </div>
                    <div class="detailsList">
                        <% include userDetails.ejs %>
                    </div>
                    <div class="commentsList">
                        <% include userComment.ejs %>
                    </div>
                    <div class="relatedGoods">
                        <div>相关商品</div>
                        <%for (var i=0;i<goodscate.length;i++) {%>
                        <div class="col-md-3 col-sm-6 text-center goodsDiv">
                            <a href="/goods_details?id=<%=goodscate[i].goods_ID%>&cateid=<%=goodscate[i].cate_ID%>">
                                <div class="goodsImg">
                                    <img src="<%=goodscate[i].goodsImg%>" class="img-responsive">
                                </div>
                                <div class="goodsTextDiv">
                                    <h3 class="goodsNmae"><%=goodscate[i].goodsName%></h3>
                                    <div class="goodsPrice">¥<%=goodscate[i].goodsPrice%></div>
                                </div>
                            </a>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <!--金牌店鋪，值得信賴-->
            <div class="col-xs-3 storeDiv">
                <div>金牌店鋪，值得信賴</div>
                <div class="stroreIntr">
                    <div class="stroreIntrUnactive">
                        <strong>浅草 QIANCAO</strong>
                    </div>
                    <div class="stroreIntrActive">
                        信誉：
                        <%for (var i=0;i<goodsScore[0].credibility;i++) {%>
                        ★
                        <%}%>
                    </div>
                    <div class="stroreIntrUnactive">服务：<%=goodsScore[0].service%></div>
                    <div class="stroreIntrActive">描述：<%=goodsScore[0].goodsdesc%></div>
                    <div class="stroreIntrUnactive">物流：<%=goodsScore[0].logistics%></div>
                </div>
                <div class="hot_sale">
                    <div><strong>热卖商品</strong> HOT SALE</div>
                    <%for (var i=0;i<goodshot.length;i++) {%>
                    <div class="col-md-6 col-sm-12 text-center goodsDiv">
                        <a href="/goods_details?id=<%=goodshot[i].goods_ID%>&cateid=<%=goodshot[i].cate_ID%>">
                            <div class="goodsImg">
                                <img src="<%=goodshot[i].goodsImg%>" class="img-responsive">
                            </div>
                            <div class="goodsTextDiv">
                                <h3 class="goodsNmae"><%=goodshot[i].goodsName%></h3>
                                <div class="goodsPrice">¥<%=goodshot[i].goodsPrice%></div>
                            </div>
                        </a>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</section>
<%include ../index/footer.ejs%>
<div class="myShopDiv" id="myShopDiv">
    <div class="myshopCart">购物车</div>
    <div class="myScorll" id="myScorll">
        <ul id="detailShopcart">

        </ul>
    </div>
    <div class="text-center xjMoney">
        <span>小计¥<span></span></span>
    </div>
    <!--<a href="/shop_cart">-->
        <!--<button type="button" class="btn btn-block btn_mycart"></button>-->
    <!--</a>-->
    <a href="/shop_cart">
        <button type="button" class="btn btn-block btn_mysum">去购物车结算</button>
    </a>
</div>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/goods/goods_details.js"></script>
<script src="js/goods/goods.js"></script>
</body>
</html>